extends includes/layout.pug

block content
    h1 Welcome to your favorite shop

    h2 Are you in the mood of buying stuff?
    p Just <a href="/shop/auth/login">login</a> with your account and start filling your cart, or <a href="/shop/auth/register">create an account</a> if you want to be a new member.

    h2 Just want to see some stuff ?
    p Go to the main page of the store and see the available products