extends includes/layout.pug

block content
    h1 Register
     form(action="" method="POST")
        div.form-group
            label(for="email") Email 
            input(type='text' id='email' name ='email' class="form-control" required)
        div.form-group
            label(for="username") Username 
            input(type='text' id='username' name ='username' class="form-control" required)
        div.form-group
            label(for="password") Password 
            input(type='password' id='password' name='password' class="form-control" required)
        div.form-group
            label(for="confirmPassword") Confirm Password 
            input(type='password' id='confirmPassword' name='confirmPassword' class="form-control" required)
            input(type="hidden" name="_csrf" value=csrf)
        button(type='submit' class="btn btn-primary") Register